.button {
  font-size: 1rem;
  padding: 0.5em 1em;
  display: inline-block;
  text-transform: uppercase;
  background-color: var(--color-main);
  border: none;
  color: white;
  box-shadow: inset -10px -10px 30px 0 #ffffff4d, 0 10px 20px 0 #1d0dca44;
  transition: all 0.2s ease;
  border-radius: 1em;
  letter-spacing: 0.05em;
  cursor: pointer;
  text-decoration: none;
}

.button--small {
  font-size: 0.65rem;
}
.button--big {
  font-size: 1.25rem;
  letter-spacing: 0.25em;
}

.button--secondary {
  background-color: white;
  border: 1px solid var(--color-main);
  color: var(--color-main);
}
.button--simple {
  background-color: white;
  border: none;
  color: var(--color-main);
  box-shadow: none;
  text-transform: initial;
}

.button:hover:enabled {
  box-shadow: inset 15px 15px 30px 0 #ffffff4d, 0 5px 10px 0 #1d0dca3f;
  background-color: var(--color-main);
  color: white;
}

.button:active:enabled {
  background-color: var(--color-main);
  box-shadow: inset 15px 15px 30px 0 #ffffff4d, 0 4 8px 0 #1d0dca2c;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
