.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
}

.header h1 {
  text-transform: uppercase;
  color: var(--color-main);
  font-weight: 300;
  font-size: 2.75rem;
  line-height: 1.1;
}

.header h1 small {
  font-size: 0.85em;
  display: block;
}

@media (max-width: 768px) {
  .header {
    background-color: #ffffff1f;
  }
}
