.about-view {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 10rem;
  color: var(--color-white);
}

.about-view h2 {
  color: var(--color-main);
}

.about-view--theme-light {
  color: var(--color-background);
}